/* The side navigation menu */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    /* padding: 20px; */
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* custom css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 81.7%; */
    /* float: right; */
    height: 10vh;
    /* border: 2px solid blue; */
    background-color: #111;
    color: white;
}

.hamburgerbtn {
    display: none;
}

.bodysection {
    /* border: 2px solid red; */
    /* float: right; */
    /* width: 81.7%; */
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
}

.logopic {
    padding-left: 2rem;
    font-size: large;
}

.welcometext {
    font-size: 2rem;
    font-weight: bold;
    /* color: white; */
}

.card1 {
    border: 2px solid gray;
    border-radius: 1rem;
}

.card1 .cardli {
    border-right: 2px solid gray;
}

.modalinp {
    box-shadow: 2px solid black;
}

.modalinp:focus {
    border: 2px solid #111 !important;
    box-shadow: 3px 2px solid #111 !important;
}

.uploadpic {
    /* position: absolute; */
    position: relative;
    /* top: 900% !important; */
    top: 7rem;
    right: 4rem;
    /* left: 36%; */
    font-size: 300%;
    cursor: pointer;
}

@media only screen and (max-width:676px) {
    /* .sidenav {
        width: 380px;
    } */
    .sidebar__content {
        text-align: center;
    }
    h4.username {
        font-size: 2rem;
    }
    .welcometext {
        font-size: 130%;
    }
    .userinfo {
        width: 22% !important;
    }
    .cardli,
    .cardlilast,
    .cardlilast span {
        font-size: 11px;
        border: none !important;
        /* border-right: 1px solid gray; */
    }
    .cardlilast {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cardlilast span {
        text-align: center;
        margin-right: 1rem;
    }
    .row1li {
        font-size: 11px;
    }
    #main {
        margin-left: 0 !important;
    }
    /* .uploadpic {
        position: absolute;
        top: 44%;
        left: 66%;
        font-size: 300%;
    } */
    .uploadpic {
        top: 6rem;
    }
    .userinfotext h3 {
        font-size: 100%;
    }
}